server {

        listen 80 default_server;
        listen [::]:80 default_server;

        server_name {{ munki_domain_name }};

        root /usr/share/nginx/html;
        index index.php index.html index.htm;

        keepalive_timeout {{ munki_keepalive_timeout }}s;

        location /munki-repo/ {
            autoindex off;
            {{ munki_http_auth_basic }}
            {{ munki_http_auth_basic_user_file }}
        }
}
